<ion-header>
  <custom-logged-header [title]="view">  </custom-logged-header>

  <ion-toolbar>
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="chats">
        Chats
      </ion-segment-button>
      <ion-segment-button value="users">
        Usuários
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>  

  <ion-toolbar>
    <ion-searchbar placeholder="Buscar" (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <div [ngSwitch]="view">

    <ion-list *ngSwitchCase="'chats'" no-lines>
      <button ion-item *ngFor="let c of chats | async" (click)="onChatOpen(c)">
     <h2>{{ c?.title }}</h2>
     <p *ngIf="c.lastMessage; else customMessage">{{c.timestamp| date:'dd/MM/y H:mm'}} - {{c.lastMessage}} </p>
      <ng-template #customMessage>
        <p>Sem mensagens</p>
      </ng-template>
    
  </button>
    </ion-list>

    <ion-list *ngSwitchCase="'users'" no-lines>
      <button ion-item *ngFor="let user of users | async" (click)="onChatCreate(user)">
        {{ user.name }}
    </button>
    </ion-list>
  </div>



</ion-content>